@media (max-width: 767px)

    .logo
        margin: 0

    .slider
        & > .container
            background-image: none
            display: flex
            justify-content: center
            height: auto

        &__text-box
            margin: 150px 0

    .banners
        flex-direction: column

        &__wrapper
            margin-right: 0 !important

            &:first-child
                margin-bottom: 20px

    .fetured-items
        &__card
            width: 48%

            &:not(:nth-child(-n+2))
                margin-top: 20px

    .shop-info

        &__banner-text
            font-size: 30px
            top: 20%
            width: 250px
            left: 5%

            &-big
                font-size: 40px

        &__info-boxes
            flex-direction: column

        &__info-box
            width: 100%

            &:not(:first-of-type)
                margin-top: 20px

    .subscribe
        &__quote-sliders
            width: 300px

            #slide2:checked ~ &-wrapper
                margin-left: -300px

            #slide3:checked ~ &-wrapper
                margin-left: -600px

        &__quote-slider
            min-width: 300px
            flex-direction: column
            align-items: center
            text-align: center
            padding-bottom: 20px

            &-img
                margin: 0 0 20px

        &__form-email
            width: 70%

        &__form-submit
            width: 30%

    .footer-info

        &__nav-wrapper
            flex-direction: column

        &__nav
            width: 100%

            &:not(:first-of-type)
                margin-top: 32px

            &-title
                padding-bottom: 15px

    .copyrights > .container
        flex-direction: column-reverse

    .copyrights__social-media
        margin-bottom: 32px

@media (max-width: 550px)
    .shop-info

        &__banner-text
            font-size: 14px
            width: 130px

            &-big
                font-size: 20px

@media (max-width: 400px)
    .logo
        margin-bottom: 10px

    .main-header__left-links
        flex-direction: column
        align-items: center
