*
    margin: 0
    padding: 0
    outline: none
    list-style-type: none
    text-decoration: none

body
    font-family: 'Lato', sans-serif

.container
    max-width: 1140px
    margin: 0 auto

.logo
    text-decoration: none
    text-transform: uppercase
    font-size: 27px
    line-height: 32px
    font-weight: 300
    letter-spacing: 0.025em
    color: #222222
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    margin-right: 37px

    &-img
        width: 59px
        margin-right: 13px

    &-pink-text
        font-weight: 900
        color: #f16d7f

.drop-down
    border: 1px solid #ececec
    box-shadow: 0px 0px 8px 0px #aaaaaa

    &::before
        content: ''
        display: block
        border-top: 1px solid #ececec
        border-left: 1px solid #ececec
        transform: rotate(45deg)
        background-color: #ffffff
        width: 10px
        height: 10px
        position: absolute
        top: -7px

.main-header
    &__top
        border-bottom: 1px solid #ececec

        & > .container
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            -webkit-box-pack: justify
            -ms-flex-pack: justify
            justify-content: space-between
            min-height: 100px
            -webkit-box-align: center
            -ms-flex-align: center
            align-items: center

        &-left
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            -webkit-box-align: center
            -ms-flex-align: center
            align-items: center

    &__search
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        border: 1px solid #e6e6e6
        border-radius: 3px
        min-height: 38px
        -webkit-box-sizing: border-box
        box-sizing: border-box
        position: relative

    &__browse
        border: none
        width: 87px
        min-height: 100%
        cursor: pointer
        -webkit-box-sizing: border-box
        box-sizing: border-box
        font-size: 14px
        line-height: 32px
        font-weight: 300
        letter-spacing: 0.025em
        color: #222222
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        background-color: #f9f9f9
        position: relative
        border-radius: 3px 0 0 3px

        &-img
            margin-left: 8px
            color: #838383

    &__search-input
        border: none
        width: 280px
        padding: 0 16px
        -webkit-box-sizing: border-box
        box-sizing: border-box
        min-height: 100%
        border-right: 1px solid #e6e6e6
        border-left: 1px solid #e6e6e6
        font-size: 14px
        line-height: 32px
        font-weight: 300
        letter-spacing: 0.025em
        color: #222222

        &::-webkit-input-placeholder
            font-size: 14px
            line-height: 32px
            font-weight: 300
            letter-spacing: 0.025em
            color: #a4a4a4

        &:-ms-input-placeholder
            font-size: 14px
            line-height: 32px
            font-weight: 300
            letter-spacing: 0.025em
            color: #a4a4a4

        &::-ms-input-placeholder
            font-size: 14px
            line-height: 32px
            font-weight: 300
            letter-spacing: 0.025em
            color: #a4a4a4

        &::placeholder
            font-size: 14px
            line-height: 32px
            font-weight: 300
            letter-spacing: 0.025em
            color: #a4a4a4

    &__search-submit
        width: 36px
        background-color: transparent
        min-height: 100%
        border: none
        cursor: pointer

        &-container
            cursor: pointer

    &__search-icon
        position: absolute
        width: 36px
        text-align: center
        color: #a4a4a4
        right: 0
        top: 12px
        font-size: 14px
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center

    &__search-submit-container:hover
        background-color: #f16d7f
        border-radius: 0 3px 3px 0

        & .main-header__search-icon
            color: #ffffff

    &__browse-drop-down
        position: absolute
        min-width: 262px
        padding: 19px 13px 22px
        top: 37px
        left: 0
        background-color: #fff
        text-align: left
        -webkit-box-sizing: border-box
        box-sizing: border-box
        z-index: 1
        border-radius: 5px
        display: none

        &::before
            left: 65px

    &__category
        list-style-type: none

        & > a
            text-decoration: none
            font-size: 14px
            line-height: 32px
            font-weight: 400
            letter-spacing: 0.025em
            color: #232323
            text-transform: uppercase
            border-bottom: 1px solid #e8e8e8
            display: block
            padding-left: 3px
            margin-bottom: 5px

        & a:hover
            color: #f16d7f

        .main-header__browse-drop-down &:not(:first-child)
            margin-top: 15px

    &__subcategory
        list-style-type: none

        & > a
            display: block
            text-decoration: none
            font-size: 14px
            line-height: 28px
            font-weight: 400
            letter-spacing: 0.025em
            color: #4f4f4f
            padding-left: 7px

    &__browse-container:hover &__browse-drop-down
        display: block

    &__browse:hover
        background-color: #f16d7f
        color: #fff

    &__browse:hover &__browse-img
        color: #fff

    &__top-right
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: end
        -ms-flex-align: end
        align-items: flex-end
        position: relative

    &__cart-wrapper
        margin-right: 12px

    &__cart-link
        width: 32px
        height: 29px
        display: block
        padding: 16px 14px

        & path
            fill: #222222

        .main-header__cart-wrapper:hover & path
            fill: #f16d7f

    &__cart
        position: absolute
        min-width: 262px
        padding: 21px 15px 20px 17px
        top: 72px
        left: 0
        background-color: #fff
        -webkit-box-sizing: border-box
        box-sizing: border-box
        z-index: 1
        border-radius: 5px
        display: none
        -webkit-box-orient: vertical
        -webkit-box-direction: normal
        -ms-flex-direction: column
        flex-direction: column
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center

        &::before
            left: 23px

        &-card
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            -webkit-box-align: center
            -ms-flex-align: center
            align-items: center
            -webkit-box-pack: start
            -ms-flex-pack: start
            justify-content: flex-start
            padding-bottom: 16px
            width: 100%
            border-bottom: 1px solid rgba(237, 237, 237, 0.74)

        &-card:not(:first-child)
            margin-top: 16px

        &-card-img
            margin-right: 14px

        &-card-info
            width: 100%

        &-card-name
            text-transform: uppercase
            font-size: 12px
            line-height: 1.2
            font-weight: 700
            color: #222222

        &-card-stars
            margin: 10px 0 10px 1px

        &-card-price
            font-size: 12px
            line-height: 1.2
            font-weight: 400
            color: #f16d7f
            margin-left: 1px

        &-card-delete
            background-color: transparent
            border: none
            font-size: 16px
            line-height: 1.2
            font-weight: 400
            text-transform: uppercase
            color: #c0c0c0
            cursor: pointer

        &-total-price
            width: 100%
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            -webkit-box-pack: justify
            -ms-flex-pack: justify
            justify-content: space-between
            text-transform: uppercase
            font-size: 16px
            line-height: 1.2
            font-weight: 700
            color: #222222
            margin: 19px 0 32px

        &-checkout
            width: 225px
            height: 50px
            border: 1px solid #f16d7f
            background-color: transparent
            font-size: 14px
            line-height: 1.2
            font-weight: 700
            text-transform: uppercase
            color: #f16d7f
            cursor: pointer

    &__go-to-cart
        width: 225px
        height: 50px
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        background-color: transparent
        border: 1px solid #eaeaea
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        font-size: 14px
        line-height: 1.2
        font-weight: 700
        text-transform: uppercase
        color: #4a4a4a
        text-decoration: none
        margin-top: 11px

    &__cart-wrapper:hover &__cart
        display: -webkit-box
        display: -ms-flexbox
        display: flex

    &__account
        background-color: #f16d7f
        text-decoration: none
        font-size: 14px
        line-height: 32px
        font-weight: 400
        margin: 16px 0
        letter-spacing: 0.025em
        color: #fff
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        width: 130px
        height: 38px
        text-transform: capitalize
        border: 1px solid #f16d7f

        &:hover
            background: #ffffff
            color: #f16d7f

        &-img
            margin-left: 8px

    &__nav-list
        list-style-type: none
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        max-width: 724px
        -webkit-box-pack: justify
        -ms-flex-pack: justify
        justify-content: space-between
        margin: 0 auto
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center

    &__list-link
        display: block
        padding: 13px 22px
        text-decoration: none
        text-transform: uppercase
        font-size: 14px
        line-height: 26px
        font-weight: 700
        color: #222222

    &__list-item
        position: relative

    &__list-link:hover
        color: #f16d7f

    &__mega-menu
        position: absolute
        top: 43px
        left: -200px
        z-index: 1
        display: none

        &::before
            left: 235px

        &-content
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            width: 846px
            height: 330px
            -webkit-box-orient: vertical
            -webkit-box-direction: normal
            -ms-flex-direction: column
            flex-direction: column
            -ms-flex-line-pack: justify
            align-content: space-between
            -webkit-box-pack: justify
            -ms-flex-pack: justify
            justify-content: space-between
            -ms-flex-wrap: wrap
            flex-wrap: wrap
            background-color: #ffffff
            border-radius: 5px
            padding: 20px 21px 20px 25px
            -webkit-box-sizing: border-box
            box-sizing: border-box

        &-banner
            position: relative
            list-style-type: none
            width: 255px

        &-banner > a
            display: block

        &-banner-text
            position: absolute
            color: #ffffff
            font-size: 22px
            line-height: 28px
            font-weight: 900
            text-transform: uppercase
            letter-spacing: 0.025em
            right: 10px
            bottom: 12px
            width: 71px

        & .main-header__category a
            padding: 0

        & .main-header__category
            width: 235px

        .main-header__list-item:hover &
            display: block

        .main-header__list-item:nth-last-of-type(-n+3) &
            right: -200px
            left: auto

            &::before
                right: 250px
                left: auto

.slider
    background-color: #e8e8e8

    & > .container
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        height: 614px

    &__img
        width: 600px
        height: 665px
        -o-object-fit: cover
        object-fit: cover
        -o-object-position: right -51px
        object-position: right -51px

    &__text
        font-size: 38px
        line-height: 1.2
        font-weight: 900
        letter-spacing: 0.025em
        color: #222222
        text-transform: uppercase
        -ms-flex-item-align: center
        -ms-grid-row-align: center
        align-self: center
        padding-left: 24px
        -webkit-box-sizing: border-box
        box-sizing: border-box
        width: 100%
        position: relative

    &__text::before
        content: ''
        display: block
        width: 12px
        height: 94px
        background: #f16d7f
        position: absolute
        left: 0
        top: 15px

    &__text b
        font-size: 60px
        font-weight: 900

    &__text span
        color: #f16d7f

.banners
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between
    margin: 98px auto

    &__banner
        display: block
        position: relative

    &__banner:first-child
        margin-bottom: 20px

    &__text
        position: absolute
        z-index: 1
        background-color: #fff
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-orient: vertical
        -webkit-box-direction: normal
        -ms-flex-direction: column
        flex-direction: column
        left: -1px
        top: 26px
        padding: 16px 19px
        text-transform: uppercase
        font-size: 18px
        line-height: 1.2
        font-weight: 900
        text-transform: uppercase
        letter-spacing: 0.025em
        color: #222222

    &__text-pink
        font-size: 30px
        color: #f16d7f

.fetured-items
    display: flex
    flex-direction: column
    align-items: center

    &__title
        font-size: 30px
        line-height: 46px
        font-weight: 700
        letter-spacing: 0.025em
        color: #222222
        text-transform: capitalize

    &__text
        font-size: 14px
        line-height: 46px
        font-weight: 400
        letter-spacing: 0.025em
        color: #9f9f9f

    &__cards
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin: 60px 0

    &__card
        max-width: 261px
        cursor: pointer

        &:nth-child(-n+4)
            margin-bottom: 39px

        &-img
            position: relative

        &-cart-button
            position: absolute
            top: 98px
            left: 0
            right: 0
            display: none
            width: 123px
            height: 39px
            background-color: transparent
            border: 1px solid #ffffff
            font-size: 13px
            line-height: 1.2
            font-weight: 700
            color: #ffffff
            align-items: center
            justify-content: center
            margin: 0 auto
            cursor: pointer

            &-img
                margin-right: 8px
                width: 23px

        &-text
            padding: 19px 13px 24px
            text-transform: uppercase
            line-height: 1.2
            display: flex
            justify-content: space-between
            flex-wrap: wrap

        &-name
            font-size: 13px
            font-weight: 400
            color: #222222
            width: 100%
            margin-bottom: 17px

        &-price
            font-size: 16px
            font-weight: 700
            color: #f16d7f

        &-stars
            font-size: 15px
            line-height: 1.2
            font-weight: 400
            color: #e4af48
            display: none

        &:hover
            box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15)

        &:hover &-stars
            display: block

        &:hover &-img
            background-color: #3a3838

            &>img
                opacity: 0.17

        &:hover &-cart-button
            display: flex

    &__browse-all
        width: 212px
        height: 48px
        background-color: #f16d7f
        border: 1px solid transparent
        font-size: 16px
        line-height: 54px
        font-weight: 700
        letter-spacing: 0.025em
        color: #ffffff
        cursor: pointer

        & .fa
            font-size: 15px
            margin-left: 9px

        &:hover
            background-color: #ffffff
            color: #f16d7f
            border: 1px solid #f16d7f

.shop-info
    margin: 113px auto 97px
    display: flex
    background-color: #222224

    &__banner
        position: relative
        width: 767px
        height: 529px

        &-text
            position: absolute
            top: 140px
            left: 39px
            width: 300px
            font-size: 32.2px
            line-height: 1.2
            font-weight: 700
            letter-spacing: 0.025em
            color: #ffffff
            text-transform: uppercase

            &-big
                font-size: 53.7px

                &-pink
                    color: #f16d7f

    &__info-boxes
        padding: 48px 43px 48px 32px
        width: 100%
        display: flex
        flex-direction: column
        justify-content: space-between

    &__info-box
        display: flex
        align-items: flex-start
        justify-content: space-between

        &-text
            width: 224px
            font-size: 14px
            line-height: 24px
            font-weight: 300
            letter-spacing: 0.025em
            color: #fbfbfb

        &-title
            font-size: 20px
            line-height: 1.2
            font-weight: 700
            margin-bottom: 12px

.subscribe
    height: 438px
    background: url('../img/subscribe-bg.png')
    background-position: center center
    padding-top: 111px
    box-sizing: border-box

    &>.container
        display: flex
        min-height: 171px
        justify-content: space-between

    &__quote-sliders
        position: relative
        min-height: 171px
        display: flex
        width: 505px
        overflow: hidden

        &-wrapper
            width: 300%
            display: flex
            transition: all .6s ease

        &-controls
            &-radio
                position: absolute
                visibility: hidden

            &-button
                position: absolute
                display: block
                width: 38px
                height: 4px
                background-color: #d6d6d6
                transition: all .4s ease
                bottom: 0

                &:nth-of-type(1)
                    left: 111px

                &:nth-of-type(2)
                    left: 165px

                &:nth-of-type(3)
                    left: 216px

                &:hover
                    background-color: #f16d7f
                    opacity: 0.7

                #slide1:checked ~ &:nth-of-type(1),
                #slide2:checked ~ &:nth-of-type(2),
                #slide3:checked ~ &:nth-of-type(3)
                    background-color: #f16d7f

        #slide1:checked ~ &-wrapper
            margin-left: 0

        #slide2:checked ~ &-wrapper
            margin-left: -505px

        #slide3:checked ~ &-wrapper
            margin-left: -1010px

    &__quote-slider
        min-width: 505px
        display: flex

        &-img
            margin-right: 28px
            width: 83px
            height: 83px

        &-text
            font-size: 12px
            line-height: 14px
            font-weight: 300
            color: #222224
            display: flex
            flex-direction: column

            &-q
                font-size: 16px
                line-height: 26px
                font-weight: 400
                font-style: italic
                letter-spacing: 0.025em
                color: #222224
                margin-bottom: 9px

            &-pink
                font-size: 16px
                line-height: 26px
                font-weight: 700
                letter-spacing: 0.025em
                color: #f16d7f
                text-transform: capitalize

    &__form
        width: 569px
        font-size: 14px
        font-weight: 400
        letter-spacing: 0.025em
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        line-height: 24px

        &-title
            font-size: 24px
            font-weight: 400
            line-height: 34px
            text-transform: uppercase
            color: #222224

        &-text
            text-transform: uppercase

        &-fieldset
            display: flex
            border: none
            margin-top: 30px

        &-email
            width: 282px
            height: 46px
            background-color: #e1e1e1
            border-radius: 23px 0 0 23px
            border: 1px solid transparent
            font-size: 14px
            font-weight: 400
            letter-spacing: 0.025em
            color: #222224
            padding: 0 28px
            box-sizing: border-box

            &::placeholder
                color: #222224
                opacity: 0.67
                text-transform: capitalize

        &-submit
            width: 104px
            height: 46px
            background-color: #f16d7f
            border-radius: 0px 23px 23px 0px
            border: 1px solid transparent
            color: #ffffff
            font-size: 14px
            font-weight: 400
            letter-spacing: 0.025em

            &:hover
                background-color: #B84252

.footer-info
    padding: 109px 89px
    display: flex
    justify-content: space-between

    &__company-description
        width: 427px
        display: flex
        flex-direction: column
        justify-content: space-between

        &-text
            font-size: 14px
            line-height: 24px
            font-weight: 300
            color: #898989
            letter-spacing: 0.025em

    &__nav
        width: 200px
        letter-spacing: 0.025em

        &-title
            font-size: 18px
            line-height: 26px
            font-weight: 700
            color: #f16d7f
            text-transform: uppercase
            padding-bottom: 29px

        &-link
            font-size: 16px
            line-height: 41px
            font-weight: 400
            color: #898989
            display: block

            &:hover
                color: #f16d7f

.copyrights
    background-color: #e6e6e6
    padding: 33px 0
    font-size: 16px
    line-height: 26px
    font-weight: 400
    letter-spacing: 0.025em
    color: #7a7a7a

    &>.container
        display: flex
        justify-content: space-between
        align-items: center

    &__social-media

        &-button
            width: 32px
            height: 32px
            cursor: pointer
            font-size: 16px
            font-weight: 400
            letter-spacing: 0.025em
            color: #b2b2b2
            background: #ffffff
            border: 1px solid transparent

            &:hover
                background-color: #f16d7f
                color: #ffffff
