* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 37px;
}

.logo-img {
  width: 59px;
  margin-right: 13px;
}

.logo-pink-text {
  font-weight: 900;
  color: #f16d7f;
}

.drop-down {
  border: 1px solid #ececec;
  -webkit-box-shadow: 0px 0px 8px 0px #aaaaaa;
          box-shadow: 0px 0px 8px 0px #aaaaaa;
}

.drop-down::before {
  content: '';
  display: block;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -7px;
}

.main-header__top {
  border-bottom: 1px solid #ececec;
}

.main-header__top > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  min-height: 38px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.main-header__browse {
  border: none;
  width: 87px;
  min-height: 100%;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f9f9f9;
  position: relative;
  border-radius: 3px 0 0 3px;
}

.main-header__browse-img {
  margin-left: 8px;
  color: #838383;
}

.main-header__search-input {
  border: none;
  width: 280px;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.main-header__search-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.main-header__search-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.main-header__search-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.main-header__search-input::placeholder {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.main-header__search-submit {
  width: 36px;
  background-color: transparent;
  min-height: 100%;
  border: none;
  cursor: pointer;
}

.main-header__search-submit-container {
  cursor: pointer;
}

.main-header__search-icon {
  position: absolute;
  width: 36px;
  text-align: center;
  color: #a4a4a4;
  right: 0;
  top: 12px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header__search-submit-container:hover {
  background-color: #f16d7f;
  border-radius: 0 3px 3px 0;
}

.main-header__search-submit-container:hover .main-header__search-icon {
  color: #ffffff;
}

.main-header__browse-drop-down {
  position: absolute;
  min-width: 262px;
  padding: 19px 13px 22px;
  top: 37px;
  left: 0;
  background-color: #fff;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 5px;
  display: none;
}

.main-header__browse-drop-down::before {
  left: 65px;
}

.main-header__category {
  list-style-type: none;
}

.main-header__category > a {
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #232323;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  display: block;
  padding-left: 3px;
  margin-bottom: 5px;
}

.main-header__category a:hover {
  color: #f16d7f;
}

.main-header__browse-drop-down .main-header__category:not(:first-child) {
  margin-top: 15px;
}

.main-header__subcategory {
  list-style-type: none;
}

.main-header__subcategory > a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
  padding-left: 7px;
}

.main-header__browse-container:hover .main-header__browse-drop-down {
  display: block;
}

.main-header__browse:hover {
  background-color: #f16d7f;
  color: #fff;
}

.main-header__browse:hover .main-header__browse-img {
  color: #fff;
}

.main-header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

.main-header__cart-wrapper {
  margin-right: 12px;
}

.main-header__cart-link {
  width: 32px;
  height: 29px;
  display: block;
  padding: 16px 14px;
}

.main-header__cart-link path {
  fill: #222222;
}

.main-header__cart-wrapper:hover .main-header__cart-link path {
  fill: #f16d7f;
}

.main-header__cart {
  position: absolute;
  min-width: 262px;
  padding: 21px 15px 20px 17px;
  top: 72px;
  left: 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 5px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header__cart::before {
  left: 23px;
}

.main-header__cart-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-bottom: 16px;
  width: 100%;
  border-bottom: 1px solid rgba(237, 237, 237, 0.74);
}

.main-header__cart-card:not(:first-child) {
  margin-top: 16px;
}

.main-header__cart-card-img {
  margin-right: 14px;
}

.main-header__cart-card-info {
  width: 100%;
}

.main-header__cart-card-name {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  color: #222222;
}

.main-header__cart-card-stars {
  margin: 10px 0 10px 1px;
}

.main-header__cart-card-price {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #f16d7f;
  margin-left: 1px;
}

.main-header__cart-card-delete {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #c0c0c0;
  cursor: pointer;
}

.main-header__cart-total-price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #222222;
  margin: 19px 0 32px;
}

.main-header__cart-checkout {
  width: 225px;
  height: 50px;
  border: 1px solid #f16d7f;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  cursor: pointer;
}

.main-header__go-to-cart {
  width: 225px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: 1px solid #eaeaea;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  text-decoration: none;
  margin-top: 11px;
}

.main-header__cart-wrapper:hover .main-header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__account {
  background-color: #f16d7f;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  margin: 16px 0;
  letter-spacing: 0.025em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 130px;
  height: 38px;
  text-transform: capitalize;
  border: 1px solid #f16d7f;
}

.main-header__account:hover {
  background: #ffffff;
  color: #f16d7f;
}

.main-header__account-img {
  margin-left: 8px;
}

.main-header__nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 724px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header__list-link {
  display: block;
  padding: 13px 22px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #222222;
}

.main-header__list-item {
  position: relative;
}

.main-header__list-link:hover {
  color: #f16d7f;
}

.main-header__mega-menu {
  position: absolute;
  top: 43px;
  left: -200px;
  z-index: 1;
  display: none;
}

.main-header__mega-menu::before {
  left: 235px;
}

.main-header__mega-menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 846px;
  height: 330px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 21px 20px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-header__mega-menu-banner {
  position: relative;
  list-style-type: none;
  width: 255px;
}

.main-header__mega-menu-banner > a {
  display: block;
}

.main-header__mega-menu-banner-text {
  position: absolute;
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  right: 10px;
  bottom: 12px;
  width: 71px;
}

.main-header__mega-menu .main-header__category a {
  padding: 0;
}

.main-header__mega-menu .main-header__category {
  width: 235px;
}

.main-header__list-item:hover .main-header__mega-menu {
  display: block;
}

.main-header__list-item:nth-last-of-type(-n+3) .main-header__mega-menu {
  right: -200px;
  left: auto;
}

.main-header__list-item:nth-last-of-type(-n+3) .main-header__mega-menu::before {
  right: 250px;
  left: auto;
}

.slider {
  background-color: #e8e8e8;
}

.slider > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 614px;
}

.slider__img {
  width: 600px;
  height: 665px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right -51px;
  object-position: right -51px;
}

.slider__text {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
  text-transform: uppercase;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-left: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.slider__text::before {
  content: '';
  display: block;
  width: 12px;
  height: 94px;
  background: #f16d7f;
  position: absolute;
  left: 0;
  top: 15px;
}

.slider__text b {
  font-size: 60px;
  font-weight: 900;
}

.slider__text span {
  color: #f16d7f;
}

.banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 98px auto;
}

.banners__banner {
  display: block;
  position: relative;
}

.banners__banner:first-child {
  margin-bottom: 20px;
}

.banners__text {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  left: -1px;
  top: 26px;
  padding: 16px 19px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.banners__text-pink {
  font-size: 30px;
  color: #f16d7f;
}

.fetured-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fetured-items__title {
  font-size: 30px;
  line-height: 46px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  text-transform: capitalize;
}

.fetured-items__text {
  font-size: 14px;
  line-height: 46px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}

.fetured-items__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0;
}

.fetured-items__card {
  max-width: 261px;
  cursor: pointer;
}

.fetured-items__card:nth-child(-n+4) {
  margin-bottom: 39px;
}

.fetured-items__card-img {
  position: relative;
}

.fetured-items__card-cart-button {
  position: absolute;
  top: 98px;
  left: 0;
  right: 0;
  display: none;
  width: 123px;
  height: 39px;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}

.fetured-items__card-cart-button-img {
  margin-right: 8px;
  width: 23px;
}

.fetured-items__card-text {
  padding: 19px 13px 24px;
  text-transform: uppercase;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fetured-items__card-name {
  font-size: 13px;
  font-weight: 400;
  color: #222222;
  width: 100%;
  margin-bottom: 17px;
}

.fetured-items__card-price {
  font-size: 16px;
  font-weight: 700;
  color: #f16d7f;
}

.fetured-items__card-stars {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #e4af48;
  display: none;
}

.fetured-items__card:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.fetured-items__card:hover .fetured-items__card-stars {
  display: block;
}

.fetured-items__card:hover .fetured-items__card-img {
  background-color: #3a3838;
}

.fetured-items__card:hover .fetured-items__card-img > img {
  opacity: 0.17;
}

.fetured-items__card:hover .fetured-items__card-cart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetured-items__browse-all {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  cursor: pointer;
}

.fetured-items__browse-all .fa {
  font-size: 15px;
  margin-left: 9px;
}

.fetured-items__browse-all:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.shop-info {
  margin: 113px auto 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #222224;
}

.shop-info__banner {
  position: relative;
  width: 767px;
  height: 529px;
}

.shop-info__banner-text {
  position: absolute;
  top: 140px;
  left: 39px;
  width: 300px;
  font-size: 32.2px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-transform: uppercase;
}

.shop-info__banner-text-big {
  font-size: 53.7px;
}

.shop-info__banner-text-big-pink {
  color: #f16d7f;
}

.shop-info__info-boxes {
  padding: 48px 43px 48px 32px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-info__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-info__info-box-text {
  width: 224px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.shop-info__info-box-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 12px;
}

.subscribe {
  height: 438px;
  background: url("../img/subscribe-bg.png");
  background-position: center center;
  padding-top: 111px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 171px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__quote-sliders {
  position: relative;
  min-height: 171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 505px;
  overflow: hidden;
}

.subscribe__quote-sliders-wrapper {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.subscribe__quote-sliders-controls-radio {
  position: absolute;
  visibility: hidden;
}

.subscribe__quote-sliders-controls-button {
  position: absolute;
  display: block;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  bottom: 0;
}

.subscribe__quote-sliders-controls-button:nth-of-type(1) {
  left: 111px;
}

.subscribe__quote-sliders-controls-button:nth-of-type(2) {
  left: 165px;
}

.subscribe__quote-sliders-controls-button:nth-of-type(3) {
  left: 216px;
}

.subscribe__quote-sliders-controls-button:hover {
  background-color: #f16d7f;
  opacity: 0.7;
}

#slide1:checked ~ .subscribe__quote-sliders-controls-button:nth-of-type(1),
#slide2:checked ~ .subscribe__quote-sliders-controls-button:nth-of-type(2),
#slide3:checked ~ .subscribe__quote-sliders-controls-button:nth-of-type(3) {
  background-color: #f16d7f;
}

#slide1:checked ~ .subscribe__quote-sliders-wrapper {
  margin-left: 0;
}

#slide2:checked ~ .subscribe__quote-sliders-wrapper {
  margin-left: -505px;
}

#slide3:checked ~ .subscribe__quote-sliders-wrapper {
  margin-left: -1010px;
}

.subscribe__quote-slider {
  min-width: 505px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__quote-slider-img {
  margin-right: 28px;
  width: 83px;
  height: 83px;
}

.subscribe__quote-slider-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__quote-slider-text-q {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
  margin-bottom: 9px;
}

.subscribe__quote-slider-text-pink {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  text-transform: capitalize;
}

.subscribe__form {
  width: 569px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 24px;
}

.subscribe__form-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  color: #222224;
}

.subscribe__form-text {
  text-transform: uppercase;
}

.subscribe__form-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  margin-top: 30px;
}

.subscribe__form-email {
  width: 282px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  padding: 0 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe__form-email::-webkit-input-placeholder {
  color: #222224;
  opacity: 0.67;
  text-transform: capitalize;
}

.subscribe__form-email:-ms-input-placeholder {
  color: #222224;
  opacity: 0.67;
  text-transform: capitalize;
}

.subscribe__form-email::-ms-input-placeholder {
  color: #222224;
  opacity: 0.67;
  text-transform: capitalize;
}

.subscribe__form-email::placeholder {
  color: #222224;
  opacity: 0.67;
  text-transform: capitalize;
}

.subscribe__form-submit {
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  border: 1px solid transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.subscribe__form-submit:hover {
  background-color: #B84252;
}

.footer-info {
  padding: 109px 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info__company-description {
  width: 427px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info__company-description-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #898989;
  letter-spacing: 0.025em;
}

.footer-info__nav {
  width: 200px;
  letter-spacing: 0.025em;
}

.footer-info__nav-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #f16d7f;
  text-transform: uppercase;
  padding-bottom: 29px;
}

.footer-info__nav-link {
  font-size: 16px;
  line-height: 41px;
  font-weight: 400;
  color: #898989;
  display: block;
}

.footer-info__nav-link:hover {
  color: #f16d7f;
}

.copyrights {
  background-color: #e6e6e6;
  padding: 33px 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.copyrights > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyrights__social-media-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #b2b2b2;
  background: #ffffff;
  border: 1px solid transparent;
}

.copyrights__social-media-button:hover {
  background-color: #f16d7f;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */